fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary
pgvector

python-dotenv
pydantic
pydantic-settings

python-jose[cryptography]
cryptography

pwdlib[argon2]
itsdangerous

authlib
httpx

langchain-text-splitters

google-genai
fastembed