@import "tailwindcss";
@import "@fontsource/inter/500.css";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: oklch(0.145 0.005 285);
  font-family: Inter;
}
